USE [master]
GO
/****** Object:  Database [QL_DETAI_22127147]    Script Date: 1/26/2024 9:15:57 AM ******/
CREATE DATABASE [QL_DETAI_22127147]
ALTER DATABASE [QL_DETAI_22127147] SET ANSI_NULL_DEFAULT OFF 
GO
USE [QL_DETAI_22127147]
GO
/****** Object:  Table [dbo].[BOMON]    Script Date: 1/26/2024 9:15:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOMON](
	[MABM] [char](5) NOT NULL,
	[TENBOMON] [nvarchar](30) NULL,
	[PHONG] [char](3) NULL,
	[DIENTHOAI] [char](10) NULL,
	[TRUONGBM] [char](5) NULL,
	[MAKHOA] [char](5) NULL,
	[NGAYNHANCHUC] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MABM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUDE]    Script Date: 1/26/2024 9:15:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUDE](
	[MACD] [char](5) NOT NULL,
	[TENCD] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MACD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONGVIEC]    Script Date: 1/26/2024 9:15:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONGVIEC](
	[MADT] [char](5) NOT NULL,
	[STT] [int] NOT NULL,
	[TENCV] [nvarchar](30) NULL,
	[NGAYBD] [date] NULL,
	[NGAYKT] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADT] ASC,
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETAI]    Script Date: 1/26/2024 9:15:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAI](
	[MADT] [char](5) NOT NULL,
	[TENDT] [nvarchar](100) NULL,
	[CAPQL] [nvarchar](30) NULL,
	[KINHPHI] [int] NULL,
	[NGAYBD] [date] NULL,
	[NGAYKT] [date] NULL,
	[MACD] [char](5) NULL,
	[GVCNDT] [char](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[MADT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 1/26/2024 9:15:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[MAGV] [char](5) NOT NULL,
	[HOTEN] [nvarchar](30) NULL,
	[LUONG] [int] NULL,
	[PHAI] [nvarchar](3) NULL,
	[NGSINH] [date] NULL,
	[DIACHI] [nvarchar](100) NULL,
	[GVQLCM] [char](5) NULL,
	[MABM] [char](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GV_DT]    Script Date: 1/26/2024 9:15:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GV_DT](
	[MAGV] [char](5) NOT NULL,
	[DIENTHOAI] [char](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC,
	[DIENTHOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 1/26/2024 9:15:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [char](5) NOT NULL,
	[TENKHOA] [nvarchar](30) NULL,
	[NAMTL] [int] NULL,
	[PHONG] [char](3) NULL,
	[DIENTHOAI] [char](10) NULL,
	[TRUONGKHOA] [char](5) NULL,
	[NGAYNHANCHUC] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOITHAN]    Script Date: 1/26/2024 9:15:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOITHAN](
	[MAGV] [char](5) NOT NULL,
	[TEN] [nvarchar](30) NOT NULL,
	[NGSINH] [date] NULL,
	[PHAI] [nvarchar](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC,
	[TEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THAMGIADT]    Script Date: 1/26/2024 9:15:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THAMGIADT](
	[MAGV] [char](5) NOT NULL,
	[MADT] [char](5) NOT NULL,
	[STT] [int] NOT NULL,
	[PHUCAP] [int] NULL,
	[KETQUA] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC,
	[MADT] ASC,
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BOMON] ([MABM], [TENBOMON], [PHONG], [DIENTHOAI], [TRUONGBM], [MAKHOA], [NGAYNHANCHUC]) VALUES (N'CNTT ', N'Công nghệ tri thức', N'B15', N'0838126126', NULL, N'CNTT ', NULL)
INSERT [dbo].[BOMON] ([MABM], [TENBOMON], [PHONG], [DIENTHOAI], [TRUONGBM], [MAKHOA], [NGAYNHANCHUC]) VALUES (N'HHC  ', N'Hóa hữu cơ', N'B44', N'083822222 ', NULL, N'HH   ', NULL)
INSERT [dbo].[BOMON] ([MABM], [TENBOMON], [PHONG], [DIENTHOAI], [TRUONGBM], [MAKHOA], [NGAYNHANCHUC]) VALUES (N'HL   ', N'Hóa lý', N'B42', N'0838878787', NULL, N'HH   ', NULL)
GO
INSERT [dbo].[CHUDE] ([MACD], [TENCD]) VALUES (N'NCPT ', N'Nghiên cứu phát triển')
INSERT [dbo].[CHUDE] ([MACD], [TENCD]) VALUES (N'QLGD ', N'Quản lý giáo dục')
INSERT [dbo].[CHUDE] ([MACD], [TENCD]) VALUES (N'UDCN ', N'Ứng dụng công nghệ')
GO
INSERT [dbo].[CONGVIEC] ([MADT], [STT], [TENCV], [NGAYBD], [NGAYKT]) VALUES (N'001  ', 1, N'Khởi tạo và Lập kế hoạch', CAST(N'2007-10-20' AS Date), CAST(N'2008-12-20' AS Date))
INSERT [dbo].[CONGVIEC] ([MADT], [STT], [TENCV], [NGAYBD], [NGAYKT]) VALUES (N'001  ', 2, N'Khởi tạo và Lập kế hoạch', CAST(N'2008-12-21' AS Date), CAST(N'2008-03-21' AS Date))
INSERT [dbo].[CONGVIEC] ([MADT], [STT], [TENCV], [NGAYBD], [NGAYKT]) VALUES (N'001  ', 3, N'Khởi tạo và Lập kế hoạch', CAST(N'2008-03-22' AS Date), CAST(N'2008-05-22' AS Date))
GO
INSERT [dbo].[DETAI] ([MADT], [TENDT], [CAPQL], [KINHPHI], [NGAYBD], [NGAYKT], [MACD], [GVCNDT]) VALUES (N'001  ', N'HTTT quản lý các trường ĐH', N'ĐHQG', 20, CAST(N'2007-10-20' AS Date), CAST(N'2008-10-20' AS Date), N'QLGD ', N'002  ')
INSERT [dbo].[DETAI] ([MADT], [TENDT], [CAPQL], [KINHPHI], [NGAYBD], [NGAYKT], [MACD], [GVCNDT]) VALUES (N'002  ', N'HTTT quản lý giáo vụcho một khoa', N'Trường', 20, CAST(N'2000-10-12' AS Date), CAST(N'2001-10-12' AS Date), N'QLGD ', N'002  ')
INSERT [dbo].[DETAI] ([MADT], [TENDT], [CAPQL], [KINHPHI], [NGAYBD], [NGAYKT], [MACD], [GVCNDT]) VALUES (N'003  ', N'Nghiên cứu chế tạo sợi Nanô Platin', N'ĐHQG', 20, CAST(N'2008-05-15' AS Date), CAST(N'2010-05-15' AS Date), N'NCPT ', N'005  ')
GO
INSERT [dbo].[GIAOVIEN] ([MAGV], [HOTEN], [LUONG], [PHAI], [NGSINH], [DIACHI], [GVQLCM], [MABM]) VALUES (N'001  ', N'Nguyễn Hoài An', 2000, N'Nam', CAST(N'1973-02-15' AS Date), N'25/3 L?c Long Quân , Q.10, TP HCM', NULL, N'MMT  ')
INSERT [dbo].[GIAOVIEN] ([MAGV], [HOTEN], [LUONG], [PHAI], [NGSINH], [DIACHI], [GVQLCM], [MABM]) VALUES (N'002  ', N'Trần Trà Hương', 2750, N'Nữ', CAST(N'1960-06-20' AS Date), N'125 Tr?n Hung Ð?o, Q.1, TP HCM', NULL, N'HTTT ')
INSERT [dbo].[GIAOVIEN] ([MAGV], [HOTEN], [LUONG], [PHAI], [NGSINH], [DIACHI], [GVQLCM], [MABM]) VALUES (N'003  ', N'Nguyễn Ngọc Ánh', 2200, N'Nữ', CAST(N'1975-05-11' AS Date), N'12/21 Võ Van Ngân, Th? Ð?c, TP HCM', N'002  ', N'HTTT ')
GO
INSERT [dbo].[GV_DT] ([MAGV], [DIENTHOAI]) VALUES (N'001  ', N'0838912112')
INSERT [dbo].[GV_DT] ([MAGV], [DIENTHOAI]) VALUES (N'002  ', N'0838912112')
INSERT [dbo].[GV_DT] ([MAGV], [DIENTHOAI]) VALUES (N'003  ', N'0903123123')
GO
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA], [NAMTL], [PHONG], [DIENTHOAI], [TRUONGKHOA], [NGAYNHANCHUC]) VALUES (N'CNTT ', N'Công nghệ thông tin', 1995, N'B11', N'0838123456', N'002  ', CAST(N'2005-02-20' AS Date))
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA], [NAMTL], [PHONG], [DIENTHOAI], [TRUONGKHOA], [NGAYNHANCHUC]) VALUES (N'HH   ', N'Hóa học', 1980, N'B41', N'0838456456', N'007  ', CAST(N'2001-10-15' AS Date))
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA], [NAMTL], [PHONG], [DIENTHOAI], [TRUONGKHOA], [NGAYNHANCHUC]) VALUES (N'SH   ', N'Sinh học', 1980, N'B31', N'0838454545', N'004  ', CAST(N'2000-10-11' AS Date))
GO
INSERT [dbo].[NGUOITHAN] ([MAGV], [TEN], [NGSINH], [PHAI]) VALUES (N'001  ', N'Hùng', CAST(N'1990-01-14' AS Date), N'Nam')
INSERT [dbo].[NGUOITHAN] ([MAGV], [TEN], [NGSINH], [PHAI]) VALUES (N'001  ', N'Thủy', CAST(N'1994-12-08' AS Date), N'Nữ')
INSERT [dbo].[NGUOITHAN] ([MAGV], [TEN], [NGSINH], [PHAI]) VALUES (N'003  ', N'Hà', CAST(N'1998-09-03' AS Date), N'Nữ')
GO
INSERT [dbo].[THAMGIADT] ([MAGV], [MADT], [STT], [PHUCAP], [KETQUA]) VALUES (N'001  ', N'002  ', 1, 0, NULL)
INSERT [dbo].[THAMGIADT] ([MAGV], [MADT], [STT], [PHUCAP], [KETQUA]) VALUES (N'001  ', N'002  ', 2, 2, NULL)
INSERT [dbo].[THAMGIADT] ([MAGV], [MADT], [STT], [PHUCAP], [KETQUA]) VALUES (N'002  ', N'001  ', 4, 2, N'Đạt')
GO
ALTER TABLE [dbo].[BOMON]  WITH CHECK ADD  CONSTRAINT [FK_BM_GV] FOREIGN KEY([TRUONGBM])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[BOMON] CHECK CONSTRAINT [FK_BM_GV]
GO
ALTER TABLE [dbo].[BOMON]  WITH CHECK ADD  CONSTRAINT [FK_BM_K] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[BOMON] CHECK CONSTRAINT [FK_BM_K]
GO
ALTER TABLE [dbo].[CONGVIEC]  WITH CHECK ADD  CONSTRAINT [FK_CV_DT] FOREIGN KEY([MADT])
REFERENCES [dbo].[DETAI] ([MADT])
GO
ALTER TABLE [dbo].[CONGVIEC] CHECK CONSTRAINT [FK_CV_DT]
GO
ALTER TABLE [dbo].[DETAI]  WITH CHECK ADD  CONSTRAINT [FK_DT_CD] FOREIGN KEY([MACD])
REFERENCES [dbo].[CHUDE] ([MACD])
GO
ALTER TABLE [dbo].[DETAI] CHECK CONSTRAINT [FK_DT_CD]
GO
ALTER TABLE [dbo].[DETAI]  WITH CHECK ADD  CONSTRAINT [FK_DT_GV] FOREIGN KEY([GVCNDT])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[DETAI] CHECK CONSTRAINT [FK_DT_GV]
GO
ALTER TABLE [dbo].[GIAOVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GV] FOREIGN KEY([GVQLCM])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[GIAOVIEN] CHECK CONSTRAINT [FK_GV]
GO
ALTER TABLE [dbo].[GIAOVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GV_BM] FOREIGN KEY([MABM])
REFERENCES [dbo].[BOMON] ([MABM])
GO
ALTER TABLE [dbo].[GIAOVIEN] CHECK CONSTRAINT [FK_GV_BM]
GO
ALTER TABLE [dbo].[GV_DT]  WITH CHECK ADD  CONSTRAINT [FK_GVDT_GV] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[GV_DT] CHECK CONSTRAINT [FK_GVDT_GV]
GO
ALTER TABLE [dbo].[KHOA]  WITH CHECK ADD  CONSTRAINT [FK_K_GV] FOREIGN KEY([TRUONGKHOA])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[KHOA] CHECK CONSTRAINT [FK_K_GV]
GO
ALTER TABLE [dbo].[NGUOITHAN]  WITH CHECK ADD  CONSTRAINT [FK_NT_GV] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[NGUOITHAN] CHECK CONSTRAINT [FK_NT_GV]
GO
ALTER TABLE [dbo].[THAMGIADT]  WITH CHECK ADD  CONSTRAINT [FK_TGDT_CV] FOREIGN KEY([MADT], [STT])
REFERENCES [dbo].[CONGVIEC] ([MADT], [STT])
GO
ALTER TABLE [dbo].[THAMGIADT] CHECK CONSTRAINT [FK_TGDT_CV]
GO
ALTER TABLE [dbo].[THAMGIADT]  WITH CHECK ADD  CONSTRAINT [FK_TGDT_GV] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[THAMGIADT] CHECK CONSTRAINT [FK_TGDT_GV]
GO
USE [master]
GO
